{% extends 'base.html' %}
{% block content %}




<div class="welcome">

    <h1><strong>Welcome</strong> to our website !</h1>
    <p>We're looking forward to getting your answers so we can make sure our products and services are the best they
        can be!</p>
</div>
<div class="question">
    {% for product in products %}


    <div class="answer">
        <h4>{{ product.category }}</h4>
    <h2>{{ product.price }}</h2>
        <h3>{{ product.name }}</h3>
        <div><img src="media/{{ product.image }} "  height="200px" ></div>
        <p class="link-read-post"><a href="{{ product.get_absolute_url }}">Редактировать</a></p>
        <p class="link-read-post"><a href="{% url 'deleteView' product.pk %}">Delete</a></p>
    </div>

{% endfor %}
</div>




{% endblock %}

